<div align="center">
    <p-panel [style]="{'width':'650px'}" header="Gerenciador">
      <p>Adicione primeiro a <b>Especialidade</b> para depois seus respectivos <b>Médicos</b></p>
       <br/> <button pButton type="button" icon="fa fa-file" label="Adicionar Especialidade" routerLink='/adm-menu/especialidade'></button>
             <button pButton type="button" icon="fa fa-user-md" label="Adicionar Médico" routerLink='/adm-menu/medico'></button>
             <button pButton type="button" icon="fa fa-calendar" label="Adicionar Horário" routerLink='/adm-menu/horario'></button>
    </p-panel>
</div>