<div align="center">
  <table border="1">
    <tr>
      <td><img width="200" height="200" alt="Heazy Adm" src="assets/pml3.png"></td>
      <td>
        <p-panel [style]="{'width':'900px'}" align="center" header="PML Systems e seus Integrantes" [toggleable]="true">
          <p-footer>
            <p>A maioria dos hospitais, sejam eles públicos ou privados, tem um problema de marcação de consultas. Na maioria das vezes
            pessoas acordam de madrugada para ir em um hospital pegar a “senha” com o objetivo de não enfrentar uma fila
            gigante no dia. Nesse momento elas perdem tempo e alguns compromissos pessoais.</p><br/><p>Nossa motivação
            é fazer um sistema web que ofereça ao cliente a ferramenta que eles tanto precisam, que é marcar sua consulta
            no seu hospital, no dia e hora que quiserem em seus computadores. Assim elas gastam menos tempo e dor cabeça
            para marcar suas consultas, além de não precisar ir ao hospital.</p><br/><p> O software tem a intenção de solucionar
            os problemas decorrentes da ineficiência dos sistemas de alguns hospitais e clínicas quando se trata em agendamento
            de consultas. Através de um Sistema Web criado e desenvolvido em linguagem TypeScript, além da utilização do
            framework Angular para facilitar o desenvolvimento do software, o usuário tem acesso a um abrangente conjunto
            de ferramentas para facilitar sua navegação pelo site, porém seu principal objetivo é o prático e rápido agendamento
            de consultas em algum hospital ou clínica à desejo do usuário, agendamento este que deve ser especificado pela
            especialidade do médico e qual o plano de saúde do cliente, logo após o agendamento, a requisição do usuário
            entraria em análise pelo hospital/clínica, e caso aceito/recusado, o usuário seria notificado pelo contato registrado
            na sua conta.
            </p><br/> Alfa Systems 
          </p-footer>
        </p-panel>
      </td>
    </tr>
  </table>
</div>