<div align="center" >
  <p-panel [style]="{'width':'900px'}" header="PML Systems e seus Integrantes" [toggleable]="true" >
      <p-footer>
        Estudantes do Instituto Federal de Pernambuco (IFPE) que estão desesperados para terminar esse PPO desgraçado. <br/>
        Em 2017, dois estudantes vagabundos decidem se juntar para fazer um trabalho da diciplina LPW.<br/>
        Após vários sofrimentos e desesperos estão no 4º ano.<br/>
        Eles acolheram outro estudante deseperado e criaram a PLM Systems que é um nome que acabei de inventar que não faz o menor sentido<br/>
        Obrigado por você olhar essa página inútil porque estou sem nada para fazer.<br/>
        - Mateus Gusmão - CEO da PML Systems<br/>
        "MultiCrazy :)"
      </p-footer>
  </p-panel> 
</div>
