<div align="center">
  <p-fieldset  legend="Dados do Paciente" [style]="{'width':'500px'}">
             Paciente: <b icon="fa-user"> {{nomePacienteLogado}} </b> <br/>
      Nome de Usuário: <b> {{nomeUserPacienteLogado}} </b><br/>
                 Cpf : <b> {{cpfPacienteLogado}} </b><br/>
      

  </p-fieldset>
</div>

<!--<div align="center">
  <b>
  <img  alt="paciencia" src="assets/paciencia.gif">
  </b><br />
  <p-progressSpinner [style]="{width: '100px', height: '100px'}" strokeWidth="4" fill="white" animationDuration=".9s"> </p-progressSpinner>

</div> -->