<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Criar um Médico
      </div>
      <div class="panel-body">
  
                      <input type="text" [(ngModel)]="medico.username" id="username" name="username" pInputText placeholder="Nome do médico"> <br/>
                 <br/><input type="text" [(ngModel)]="medico.horario" id="horario" name="horario" pInputText placeholder="Horario do médico"> <br/>
                 <br/><button pButton [disabled]="!medico.username || !medico.horario" type="button" label="Adicionar" (click)="adicionarMedico()"></button>
                   
  
  
      </div>
    </div>
  </div>
