<router-outlet></router-outlet>
<div align="center">
    <header>
    <h1><img width="450" height="130"alt="Heazy Logo" src="assets/heazy.png"></h1>
    </header>
    </div>
<div class="container" style="width:800px">
    <div class="panel panel-default">
        <div class="panel-heading">
          Cadastre-se agora      
      </div>
      <div class="panel-body">
        <form ngForm #form>

            <div class="form-group">
            <label for="nome">Nome e Sobrenome:</label>
            <input [(ngModel)]="nomeUsuario" type="text" class="form-control" id="nome" name="nome" required>
          </div>
<!--CAMPO DE USERNAME(CADASTRO) -->
          <div class="form-group">
            <label for="username">Nome de Usuário:</label>
            <input [(ngModel)]="userUsuario" type="text" class="form-control" id="username" name="username" required>
          </div>
<!--CAMPO DE PASSWORD(CADASTRO) -->
          <div class="form-group">
              <label for="password">Digite uma senha:</label>
              <input [(ngModel)]="senhaUsuario" type="password" pPassword class="form-control" id="password" name="password" required>
            </div>

            <div class="form-group">
                <label for="cpf">Informe seu CPF:</label><br/>
                <p-inputMask mask="999.999.999-99" [(ngModel)]="cpfUsuario" id="cpf" name="cpf" placeholder="999.999.999-99" [size]="100" required></p-inputMask>
              </div>

            <button [disabled]="!userUsuario || !senhaUsuario" pButton type="button" class="ui-button-success" label="Cadastre-se!" (click)="register()" routerLink='/login'></button>
            <button align="right" pButton type="button" class="ui-button-primary" label="Voltar"  routerLink='/login'></button>

        </form>
      </div>
</div>
