<div align="center" class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Marque sua consulta
        </div>
        <div class="panel-body">
            <form ngForm>
                <div>

                    <!--<div class="form-group">
                    <label for="especialidade">Especialidade</label>
                    <p-dropdown name ="especialidade" [options]="especialidades" [(ngModel)]="consulta.especialidade" required></p-dropdown>
                    </div>-->
                    <div>
                        <label>Selecione uma Especialidade: </label>
                        <p-dataTable [style]="{'width':'200px'}" [value]="relacaoEspecialidades" selectionMode="single"
                         [(selection)]="especialidadeSelecionada" (onRowSelect)="onRowSelectEsp($event)">
                            <p-column field="nome"></p-column>
                        </p-dataTable>
                    </div><br />

                    <div class="form-group">
                        <label for="planoSaude">Plano de Saúde :</label>
                        <p-dropdown name="planoSaude" [options]="planosSaude" placeholder="Plano de Saúde" [(ngModel)]="consulta.planoSaude"
                            required></p-dropdown>
                    </div>

                    <div class="form-group">
                            <label for="turno">Turno :</label>
                            <p-dropdown (onChange)="filtrarMedicosPorTurno($event)" name="turno" [options]="turnos" placeholder="Turno" [(ngModel)]="consulta.turno" required></p-dropdown>
                        </div>

                     <div class="form-group">
                     <label for="data">Data :</label>
                     <p-calendar name="data" [(ngModel)]="consulta.data" [disabledDays]="[0,6]" dateFormat="d.mm.yy" placeholder="Data" required></p-calendar>
       
                     </div>
                     <div>
                            <p-dataTable [style]="{'width':'200px'}" [value]="medicosFiltrados" selectionMode="single"
                            [(selection)]="medicoSelecionado" (onRowSelect)="onRowSelectMed($event)">
                               <p-column field="username"></p-column>
                           </p-dataTable>
                     </div>
                    <button [disabled]="!consulta.planoSaude || !especialidadeSelecionada || !consulta.turno || !consulta.data || !medicoSelecionado" pButton type="button" icon="fa-plus-square" (click)="adicionarConsulta()" label="Marcar Consulta!"
                        routerLink='/main/consultas'></button>
                </div>
            </form>
        </div>
    </div>