<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
          Marque sua consulta      
      </div> 
      <div class="panel-body">
      <form ngForm>
      <div>
    
      <div class="form-group">
          <label for="especialidade">Especialidade</label>
          <p-dropdown [options]="especialidades" required></p-dropdown>
      </div>
      
      <div class="form-group">
          <label for="planoSaude">Especialidade</label>
          <p-dropdown [options]="planosSaude" required></p-dropdown>
      </div>

      <div class="form-group">
          <label for="data">Data</label>
          <p-calendar name="data" [(ngModel)]="consulta.data" dateFormat="dd.mm.yy" required></p-calendar>
       
                     </div>
               <button pButton type="button" (click)="save()" label="Marcar Consulta!" routerLink='/main/consultas'></button>
                </div>
          </form>
     </div>
</div>



