<router-outlet></router-outlet>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
          Faça seu Login      
      </div> 
      <div class="panel-body">

      <form ngForm #form>

        <!--CAMPO DE USERNAME(CADASTRO) -->
                  <div class="form-group">
                    <label for="username">Nome de Usuário:</label>
                    <input [(ngModel)]="user.username" type="text" class="form-control" id="username" name="username" required>
                  </div>
        <!--CAMPO DE PASSWORD(CADASTRO) -->
                  <div class="form-group">
                      <label for="password">Digite uma senha:</label>
                      <input [(ngModel)]="user.password" type="password" class="form-control" id="password" name="password" required>
                    </div>
                <button pButton type="button" class="ui-button-primary" label="Entrar" (click)="entrar()"></button>
            Não tem uma conta?
                <button pButton type="button" class="ui-button-success" label="Cadastre-se" routerLink='/cadastro'></button>

        </form>
      </div>
</div>



